:root {
  --bg-color: #eff0f4;
  --orange: #ffb050;
  --blue: #4894ff;
  --white: #ffffff;
  --primary-text: #464646;
  --secondary-text: #a3a3a3;
  --light-grey: #898989;

  /* Estados */
  --primary-hover: #4786f0;

  --primary-font: "Montserrat", sans-serif;
  --logo-font: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f4ff;
  font-family: var(--primary-font);
  overflow-x: hidden;
}

/* ---- Navbar ----*/

.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ---- Float button ---- */
.navbar__float {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 1.5em;
  bottom: 5.7em;
  z-index: 99;
}

.navbar__float a,
button {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: none;
  background-color: var(--blue);
  filter: drop-shadow(
    0 0 0.25rem color-mix(in srgb, var(--blue) 50%, transparent)
  );
  transition: 0.3s;

  &:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
  }
}

.navbar__float__icon {
  height: 1rem;
}

#navbar__float__menu {
  display: none;
}

.navbar__float__links {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1em;
  margin-bottom: 0.8em;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}

.links__text {
  font-size: 0.8rem;
  background-color: var(--white);
  padding: 0.3em 0.7em;
  border-radius: 30px;
}

#navbar__float__bg {
  display: block;
  position: fixed;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  right: 1.5em;
  bottom: 5.7em;
  background-color: black;
  z-index: 2;
  opacity: 0.6;
  transition: width 0.3s ease, height 0.3s ease;
}

/* ---- Form Modal ---- */

.modal {
  display: none;
}

.float__button-modal {
  display: none;
}

/* ---- Navbar Bottom ---- */

.navbar__bottom {
  position: fixed;
  bottom: 0;
  background-color: var(--white);
  width: 100%;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px 15px 0 0;
  filter: drop-shadow(0 -1mm 1mm rgba(50, 50, 50, 0.1));
  z-index: 1;
}

.navbar__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3em;

  color: var(--primary-text);
  text-decoration: none;
  font-size: 0.8rem;
  opacity: 0.3;
}

.navbar__buttons--active {
  color: var(--blue);
  opacity: 1;
}

/* ---- Sidebar Lateral ---- */

#navbar__side {
  display: none;
}

/* ---- Header ---- */

.header {
  padding: 3em 1.5em 1em 1.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.header__img {
  height: 60px;
  border-radius: 50px;
}

.header__user-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-text);
  line-height: 35px;
}

.header__user-text {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

/* ---- Cards Container ---- */

.container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.container__day {
  color: var(--primary-text);
  font-size: 1rem;
}

.container__cards {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

/* ---- Card ---- */

.card {
  position: relative;
  padding: 1.2em;
  border-radius: 8px;
  background-color: var(--white);

  &::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #f8f4ff;
    width: 100%;
    top: 37%;
    left: 0;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  position: relative;
  align-items: center;
}

.card__profile {
  display: flex;
  column-gap: 1em;
  align-items: center;
}

.card__profile__picture {
  height: 32px;
  border-radius: 30px;
}

.card__profile__name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-text);
}

.profile__info {
  display: flex;
  margin-top: 0.2rem;
  align-items: center;
  gap: 0.5em;
}

.profile__info__img {
  width: 14px;
}

.profile__info__text {
  font-size: 0.8rem;
  color: var(--secondary-text);
}

.card__profile__chat-button {
  position: relative;
  background-color: #f6f6f6;
  height: 2rem;
  width: 2rem;
  border-radius: 30px;
  transition: 0.3s;

  &:hover {
    background-color: var(--white);
  }
}

.card__profile__chat-button img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__main {
  display: flex;
  flex-direction: column;
  row-gap: 0.9em;
  margin-top: 1em;
}

.card__main__time {
  font-size: 0.8rem;
  font-weight: 500;
}

.card__main__buttons {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.card__button {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s;
}

.card__button--grey {
  border: 2px solid #ececec;
  color: var(--primary-text);
  &:hover {
    border: 2px solid var(--primary-hover);
    color: var(--primary-hover);
  }
}

.card__button--orange {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  color: var(--white);

  &:hover {
    background-color: var(--blue);
    border: 2px solid var(--blue);
  }
}

.card__button--blue {
  background-color: var(--blue);
  border: none;
  color: var(--white);

  &:hover {
    background-color: var(--primary-hover);
  }
}

.spacer-medium {
  height: 5rem;
}

.form-container {
  display: none;
}

/* ---- Footer ---- */
footer {
  width: 100%;
  background-color: var(--primary-text);
}

.footer__main {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  padding: 2em 1.5em 3em 1.5em;
  color: var(--white);
}

.footer__logo {
  font-family: var(--logo-font);
  font-size: 3rem;
}

.footer__topics {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}

.footer__list h3 {
  font-size: 1rem;
  font-weight: 600;
}

.footer__list a {
  text-decoration: none;
  color: rgb(from var(--white) r g b / 70%);
  font-size: 0.8rem;
}

.footer__rights {
  padding: 1em 1.5em 7em 1.5em;
  background-color: #000000;
  width: 100%;
  font-size: 0.8em;
  color: var(--white);
}

.footer__rights a {
  text-decoration: none;
  color: var(--white);
}

@media screen and (min-width: 700px) {
  .navbar__bottom {
    padding: 0.8em 0;
    justify-content: center;
    column-gap: 2.5em;
  }

  .container {
    padding: 1.5em 2em;
  }

  .container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 1.5em 3em;
  }

  .container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em;
  }

  .footer__main {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 3em;
    padding-left: 3em;
    padding-right: 4em;
  }

  .footer__logo {
    line-height: 3rem;
  }

  .footer__topics {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 6em;
    margin-left: 10em;
  }

  .footer__rights {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 3em;
    padding: 1em 2em 7em 2em;

    &::before {
      content: "";
    }
  }
}

@media screen and (min-width: 1100px) {
  /* ---- Navbar ---- */

  .navbar__float-mobile {
    display: none;
  }

  .float__button-modal {
    display: block;
    right: 3em;
    bottom: 5em;
  }

  #navbar__float__bg {
    display: none;
  }

  .navbar__bottom {
    display: none;
  }

  #navbar__side {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 4em;
    padding: 1em 1.3em 1em 1.3em;
    border-radius: 0 15px 15px 0;
    background-color: var(--white);
    filter: drop-shadow(0 -1mm 1mm rgba(50, 50, 50, 0.1));
    z-index: 1;
    transition: width 0.5s, padding 0.5s;
    overflow-x: hidden; /* Will hide the text */
    white-space: nowrap; /* Will prevent the text from wrapping to the next line, even if its larger than the width of the sidebar */
    & ~ #main {
      margin-left: 3.5em;
      transition: margin-left 0.5s;
    }
  }

  #navbar__side.expanded {
    width: 10em;
    padding: 1em 1.7em 1em 1.3em;
    & ~ #main {
      margin-left: 9em;
      transition: margin-left 0.5s;
    }
  }

  #navbar__side.expanded .navbar__buttons span {
    display: inline-block;
  }

  .navbar__buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    row-gap: 0.3em;
    column-gap: 1em;
    opacity: 1;
  }

  .navbar__buttons img {
    align-self: center;
    min-width: 20px;
    height: 24px;
    width: 20px;
    object-fit: scale-down;
    margin-right: 0.5em; /* Added spacing to separate image and text */
  }

  .navbar__buttons span {
    display: none; /* Hide text initially */
    transition: 0.3s;
  }

  .navbar__buttons:hover {
    color: var(--blue);
  }

  /* ---- Header ---- */

  .header {
    padding: 2em 1.5em 1em 3em;
  }

  .header__img {
    height: 80px;
  }

  .header__user-name {
    font-size: 1.8rem;
    line-height: 40px;
  }

  .header__user-text {
    font-size: 1.1rem;
  }

  /* ---- Cards Sections ---- */

  .container {
    padding: 1.5em 4em;
  }

  .container__cards {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20em; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.5%;
    row-gap: 1.5em;
  }

  .card {
    padding: 1em;
    /* flex-grow: 1; */
    /* flex-shrink: 2; */

    &::before {
      top: 38%;
    }
  }

  .card__main {
    row-gap: 0.7em;
    margin-top: 0.5em;
  }

  /* ---- Modal ---- */

  .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .modal__content {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto; */
    margin: 7% auto;
    padding: 2em;
    border-radius: 15px;
    width: auto;
    /* min-width: 50%; */
    max-width: 80%;
    background-color: #fff;
  }

  .modal__content h2 {
    margin-bottom: 0.2em;
    color: var(--primary-text);
  }

  .modal__content p,
  .modal__content label {
    font-size: 0.9rem;
    color: var(--primary-text);
  }

  .modal__form {
    display: flex;
    flex-direction: column;
  }

  .form__secao {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-wrap: wrap; */
    column-gap: 2em;
    row-gap: 1em;
  }

  .form__secao input[type="text"],
  input[type="email"] {
    margin-top: 0.4em;
    padding: 0.7em;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #ececec;
    max-width: 60em;
    font-size: 0.8rem;

    &::placeholder {
      color: #cfcfcf;
    }

    &:focus {
      border: 2px solid var(--blue);
    }
  }

  .modal__form .sub-heading {
    margin-top: 1.7em;
    font-size: 1.2rem;
  }

  .form__buttons {
    margin-top: 2em;
  }

  label {
    font-size: 1rem;
    color: var(--light-grey);
  }

  /* ---- Footer ---- */
  .footer__main {
    padding: 4em 4em 4em 4em;
  }

  .footer__topics {
    width: 100%;
    display: flex;
    column-gap: 8em;
    margin-left: 10em;
  }

  .footer__rights {
    justify-content: center;
    padding: 1em 3em;
    column-gap: 10em;
  }
}

@media screen and (min-width: 1800px) {
  .modal__content {
    max-width: 70em;
  }

  .form__secao {
    /* margin-top: 2em; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    column-gap: 3em;
    row-gap: 1em;
  }

  .modal__form input {
    margin-top: 0.4em;
    padding: 0.7em;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #ececec;
    min-width: 35em;
    max-width: 60em;

    &::placeholder {
      color: #cfcfcf;
    }

    &:focus {
      border: 2px solid var(--blue);
    }
  }

  .container__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 2em;
  }

  .card {
    padding: 1em;
    min-width: 23rem;

    &::before {
      top: 38%;
    }
  }

  .card__main {
    row-gap: 0.7em;
    margin-top: 0.5em;
  }
}
