:root {
  --bg-color: #eff0f4;
  --orange: #ffb050;
  --blue: #4894ff;
  --white: #ffffff;
  --primary-text: #464646;
  --secondary-text: #a3a3a3;

  /* Estados */
  --primary-hover: #4786f0;

  --primary-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f4ff;
  font-family: var(--primary-font);
}

/* Navbar */

.navbar {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.navbar__plus {
  position: fixed;
  bottom: 5.7em;
  left: auto;
  right: 1.5em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  filter: drop-shadow(
    0 0 0.25rem color-mix(in srgb, var(--blue) 50%, transparent)
  );
  transition: 0.3s;

  &:hover {
    background-color: var(--primary-hover);
  }
}

.navbar__plus__icon {
  height: 1rem;
}

.navbar__bottom {
  position: fixed;
  bottom: 0;
  background-color: var(--white);
  width: 100%;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px 15px 0 0;
  filter: drop-shadow(0 -1mm 1mm rgba(50, 50, 50, 0.1));
}

.navbar__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3em;

  color: var(--primary-text);
  text-decoration: none;
  font-size: 0.8rem;
  opacity: 0.3;
}

.navbar__buttons--active {
  color: var(--blue);
  opacity: 1;
}

/* Header */

.header {
  padding: 3em 1.5em 1em 1.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.header__img {
  height: 60px;
  border-radius: 50px;
}

.header__user-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-text);
  line-height: 35px;
}

.header__user-text {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

/* Cards Container */

.container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.container__day {
  color: var(--primary-text);
  font-size: 1rem;
}

/* Card */

.card {
  position: relative;
  padding: 1.2em;
  border-radius: 8px;
  background-color: var(--white);

  &::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #f8f4ff;
    width: 100%;
    top: 37%;
    left: 0;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  position: relative;
  align-items: center;
}

.card__profile {
  display: flex;
  column-gap: 1em;
  align-items: center;
}

.card__profile__picture {
  height: 32px;
  border-radius: 30px;
}

.card__profile__name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-text);
}

.profile__info {
  display: flex;
  margin-top: 0.2rem;
  align-items: center;
  gap: 0.5em;
}

.profile__info__img {
  width: 14px;
}

.profile__info__text {
  font-size: 0.8rem;
  color: var(--secondary-text);
}

.card__profile__chat-button {
  position: relative;
  background-color: #f6f6f6;
  height: 2rem;
  width: 2rem;
  border-radius: 30px;
}

.card__profile__chat-button img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__main {
  display: flex;
  flex-direction: column;
  row-gap: 0.9em;
  margin-top: 1em;
}

.card__main__time {
  font-size: 0.8rem;
  font-weight: 500;
}

.card__main__buttons {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.card__button {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s;
}

.card__button--grey {
  border: 2px solid #ececec;
  color: var(--primary-text);
  &:hover {
    border: 2px solid var(--primary-hover);
    color: var(--primary-hover);
  }
}

.card__button--orange {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  color: var(--white);

  &:hover {
    background-color: var(--blue);
    border: 2px solid var(--blue);
  }
}

.card__button--blue {
  background-color: var(--blue);
  border: none;
  color: var(--white);

  &:hover {
    background-color: var(--primary-hover);
  }
}

.spacer-medium {
  height: 5rem;
}
